* {
 margin:0;
 padding:0;
 font-size:101%;
 box-sizing:border-box;
 transition:0.2s;
}
a {
   color:#3b9;
}
a:visited {
   color:#3b9;
}
a:hover {
   color:#085;
}
art,work {
   font-size:600%;
}
art {
   color:black;
}
work {
   color:grey;
}
.self-portrait {
   float:right;
   height:50px;
   width:50px;
   background:url(/me.jpg);
   background-size:800%;
   background-position:182.5% 10%;
   border-radius:1000px;
   -webkit-border-radius:1000px;
   -moz-border-radius:1000px;
   -o-border-radius:1000px;
}
.horiz-ul {
   float:left;
   padding-bottom:35px;
   width:70%;
}
.horiz-ul li {
   list-style-type:none;
   display:inline-block;
   padding:0 10px;
   color:#3b9;
}
.title {
   width:30%;
   padding-top:100px;
   padding-bottom:25px;
   bottom:15px;
   overflow:auto;

}
.title:after {
   content:'';
   clear:both;
}
.heading {
   float:left;
}
.title,.heading {
   color:black;
   text-align:right;
   width:30%;
   min-width:300px;
   padding-left:10px;
   padding-right:10px;
}
h1 {
   font-weight:100;
   display:inline;
   float:right;
   font-size:150%;
   padding-top:11px;
   padding-left:20px;
}
div.outside {
   position:relative;
   height:150px;
   width:33%;
}

div.rest {
   height:1000px;
}

div.inside {
   background:white;
   width:calc(100% - 100px);
   height:800px;
   padding-top:200px;
   margin:0px auto;
   position:relative;
   top:120px;
}
