html {
   transition:0.2s;
}
* {
 margin:0;
 padding:0;
 box-sizing:border-box;
}

a {
   color:black;
}
.vert-ul li a {
   text-decoration:none;
}

body {
   font-family:"Open Sans";
   font-weight:400;
}

art,work {
   font-size:600%;
}

art {
   color:black;
}

work {
   color:grey;
}

.self-portrait {
   float:right;
   height:50px;
   width:50px;
   background:url(/me.jpg);
   background-size:800%;
   background-position:182.5% 10%;
   border-radius:1000px;
   -webkit-border-radius:1000px;
   -moz-border-radius:1000px;
   -o-border-radius:1000px;
}

.horiz-ul {
   float:left;
   padding-bottom:35px;
   width:70%;
}

.horiz-ul li {
   list-style-type:none;
   display:inline-block;
   padding:0 10px;
}

.vert-ul li {
   list-style-type:none;
   padding:0.25em 0;
   cursor:pointer;
}

.vert-ul li:hover {
   text-decoration:underline;
}


.vert-ul {
   padding:0 0 3em 0;
}

.heading {
   font-weight:800;
   font-size:100%;
}

nav {
   padding:0 1em;
   color:black;
   text-shadow-color:black;
   text-align:right;
   width:30%;
   min-width:300px;
   float:left;
}

nav h1, nav h2 {
   cursor:pointer;
}

h1 {
   font-weight:800;
   display:inline;
   float:right;
   font-size:1.5rem;
   line-height:0.7;
   width:100%;
   padding:4rem 0 0 0;
}

h2 {
   font-weight:300;
   line-height:2.2;
   font-size:1.1rem;
   padding:0 0 3em 0;
}

section.content h1 {
   padding:0 0 1.1em 0;
   margin:0;
   font-size:4rem;
   line-height:0.6;
   text-align:left;
}

section.content p {
   padding:0.5em 0;
   font-size:1.1em;
   line-height:1.5;
}


div.inside {
   background:white;
   width:calc(100% - 100px);
   height:800px;
   padding-top:200px;
   margin:0px auto;
   position:relative;
   top:120px;
}

section.content {
   font-size:100%;
   padding: 4rem 1em;
   width:70ex;
   float:left;
   display:none;
}

/* Magnifi Specific * /

html.magnifi {
   background: #ddd;
}

html.magnifi * {
   color: #ea345f;
}

html.magnifi a {
   color: #ea345f;
}

/* Music Putty Specific * /

html.mupu {
   background:#222;
}

html.mupu * {
   color:#ddd;
}

html.mupu a {
   color:#0fa;
}

/* KCPR Specific * /

html.kcpr {
   background:#096143;
}

html.kcpr * {
   color:#FF744B;
}

html.kcpr a {
   color:#FF947B;
}

/* EDUFII Specific * /

html.edufii {
   background:#e54600;
}

html.edufii h1, html.edufii .heading, html.edufii .content {
   color:#eee;
}

html.edufii h2, html.edufii ul.vert-ul li, html.edufii a {
   color:#aaa;
}
*/

a.button {
   display:none;
}


@media (max-width: 914px){
   nav:not(.scrolled) + a.button {
      display:none;
   }
   a.button {
      cursor:pointer;
      padding:1em;
      display:block;
      width:100%;
      float:left;
      opacity:0.6;
   }
   a.button:hover {
      opacity:1;
   }
   html {
      font-size:150%;
   }
   nav {
      float:right;
      width:100%;
   }
   section {
      max-width:95%;
   }
   section.content {
      padding:0 1em;
   }
   section.content h1 {
      line-height:0.9;
      padding:0.25em 0;
      margin:0;
   }
   nav.scrolled {
      display:none;
   }
   nav.scrolled ~ section {
      display:none;
   }
}
