html {
   transition: background 0.7s;
}
* {
 margin:0;
 padding:0;
 box-sizing:border-box;
 transition:0.2s;
}
body {
   font-family:"Open Sans";
   font-weight:400;
}
a {
   color:#3b9;
}
a:visited {
   color:#3b9;
}
art,work {
   font-size:600%;
}
art {
   color:black;
}
work {
   color:grey;
}
.self-portrait {
   float:right;
   height:50px;
   width:50px;
   background:url(/me.jpg);
   background-size:800%;
   background-position:182.5% 10%;
   border-radius:1000px;
   -webkit-border-radius:1000px;
   -moz-border-radius:1000px;
   -o-border-radius:1000px;
}
.horiz-ul {
   float:left;
   padding-bottom:35px;
   width:70%;
}
.horiz-ul li {
   list-style-type:none;
   display:inline-block;
   padding:0 10px;
   color:#3b9;
}
.vert-ul li {
   list-style-type:none;
   padding:0.25em 0;
   color:#3b9;
}
.vert-ul a:hover {
   text-decoration:underline;
}
.vert-ul a {
   text-decoration:none;
   color:black;
}
.vert-ul {
   padding:0 0 3em 0;
}
.heading {
   font-weight:800;
   font-size:100%;
}
#menu {
   padding:0 1em;
   color:black;
   text-shadow-color:black;
   text-align:right;
   width:30%;
   min-width:300px;
   float:left;
}
h1 {
   font-weight:800;
   display:inline;
   float:right;
   font-size:150%;
   width:100%;
   padding:4rem 0 0 0;
}
h2 {
   font-weight:300;
   font-size:110%;
   padding:0 0 3em 0;
}

div.inside {
   background:white;
   width:calc(100% - 100px);
   height:800px;
   padding-top:200px;
   margin:0px auto;
   position:relative;
   top:120px;
}

.content {
   font-size:100%;
   padding: 4rem 1em;
   width:52ex;
   float:left;
   display:none;
}

/* Music Putty Specific */
html.mupu {
   background:#222;
}
html.mupu * {
   color:white;
}

/* KCPR Specific */
html.kcpr {
   background:#096143;
}
html.kcpr * {
   color:#FF744B;
}

/* EDUFII Specific */
html.edufii {
   background:#e54600;
}

html.edufii h1, html.edufii .heading, html.edufii .content {
   color:#eee;
}

html.edufii h2, html.edufii ul.vert-ul li a {
   color:#aaa;
}

/* Blur */

#menu:not(:hover) {
   opacity:0.6;
}
