@font-face {
  font-family: Fort Condensed;
  src: url(/assets/fonts/MCKL-FortCond-Medium+MediumItalic-OTF/FortCond-Medium.otf)
}

@font-face {
  font-family: Fort Condensed;
  src: url(/assets/fonts/MCKL-FortCond-Medium+MediumItalic-OTF/FortCond-MediumItalic.otf)
  font-style: italic;
}
